<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - celsia_assetsment_johan_arboleda</title>
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true"/>
</head>

<body class="bg-white dark:bg-dark-500">
    <div class="relative isolate px-6 lg:px-8">
        <header>
        <nav class="bg-white rounded-lg shadow m-2 dark:bg-gray-800">
            <div class="max-w-screen-xl flex flex-wrap items-center justify-between mx-auto p-4">
                <a href="https://www.celsia.com/es/" class="flex items-center space-x-3 rtl:space-x-reverse">
                    <img src="https://www.celsia.com/wp-content/uploads/2021/05/Grupo-697.svg" class="max-h-10"
                        alt="Flowbite Logo">
                </a>
                <div class="flex md:order-2 space-x-3 md:space-x-0 rtl:space-x-reverse">
                    <a href="@Url.Action("Index", "Home")"
                        class="flex px-3.5 py-2.5 text-sm font-semibold text-white shadow-md bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 rounded-lg dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800">
                        logout
                    </a>
                </div>
            </div>
        </nav>
    </header>
    <div class="container mx-auto pb-3bg-white dark:bg-dark-500">
        <main role="main" class="my-5">
            @RenderBody()
        </main>
    </div>
    <footer class="bg-white rounded-lg shadow m-4 dark:bg-gray-800">
        <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-center">
            <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">&copy; 2024 -
                celsia_assetsment_johan_arboleda - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </span>
        </div>
    </footer>
    </div>
</body>
    <script src="../path/to/flowbite/dist/flowbite.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</html>
